@media (max-width: 1052px){
    .about__title{
        margin-bottom: 10px;
    }
    .blog_block{
        margin-bottom: 40px;
    }
}
@media (max-width: 992px){
	.header-inner{ 
		padding: 37px 0px;
	}
}
@media (max-width: 832px){  
	.mainSlider {
		.controls {
			span.vfix{
				display:none;
			}
				&-row{
				left: 0;
				right: 0;
				float: none;
				display: block;
				height: 3px;
				top: 100%;
				margin-top: 15px;
				position: absolute;  
				text-align: center;
			}
		}
		.slick-dots{
			display:block;  
			text-align: center;
		}
		.slick-dots li {
			margin-bottom: 0;
			float: left; 
			margin: 0 6px;
		}
		.controls-cell{
			display:inline-block;  
			vertical-align: top;
		}
	}
	.mainSlider-inner-text {
		left: 15px;
	}
}
@media (max-width: 768px){   
	.header-inner {
		padding: 20px 0px;
	}
	.mainSlider-title{
		font-size: 57px;    line-height: 60px;
    margin-bottom: 10px;
	}
	.mainSlider-subtitle{
		font-size: 25px;
		line-height: 29px;
	}
    .about__title{
        font-size: 70px;
        margin-bottom: 10px;
    }
    .blog_block__content{
        margin-bottom: 20px;
    }
    .blog_block_img img{
        width: 100%;
    }
    .contacts__title{
        margin-bottom: 20px;
    }
    .other_contacts__phone{
        margin-bottom: 20px;
    }
    .other_contacts{
        margin-bottom: 35px;
    }
}

@media (max-width: 480px){ 
	.header-menu .navbar-nav li {
		display:block;
		text-align:center !important;
	}
	.photographer-filter ul li {
		display:block;
	}
}